.git
.next
**/.next
node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage
test-results
**/test-results
*.tsbuildinfo
**/*.tsbuildinfo
.tmp
.env
.env.*
!.env.example
.oworker/starter.lock.json
